import os
os.environ["LOCAL_DEV"] = "1"

import uvicorn

"""
Runs the entrypoint as a local uvicorn app with hot-reloading. If the app is configured to hit a remote MCP behind a gateway,
first deploy the application or update the application code to not depend on the MCP sever.
"""

if __name__ == "__main__":
    uvicorn.run(
        "src.main:app",
        host="127.0.0.1",
        port=8000,
        reload=True,
    )
