import os
from langchain_core.messages import HumanMessage
from langchain.agents import create_agent
from langchain_openai import ChatOpenAI
from langchain.tools import tool
from bedrock_agentcore import BedrockAgentCoreApp
from mcp_client.client import get_streamable_http_mcp_client as get_tools
from bedrock_agentcore.identity.auth import requires_api_key
from dotenv import load_dotenv

@requires_api_key(provider_name=os.getenv("BEDROCK_AGENTCORE_MODEL_PROVIDER_API_KEY_NAME", ""))
def agentcore_identity_api_key_provider(api_key: str) -> str:
    return api_key

def get_authenticated_model() -> str:
    if os.getenv("LOCAL_DEV") == "1":
        load_dotenv()
        api_key = os.getenv("OPENAI_API_KEY")
    else:
        api_key = agentcore_identity_api_key_provider()

    return ChatOpenAI(
        model="gpt-5",
        api_key=api_key
    )

# Define a simple function tool
@tool
def add_numbers(a: int, b: int) -> int:
    """Return the sum of two numbers"""
    return a+b

# Import AgentCore Gateway as Streamable HTTP MCP Client
mcp_client = get_streamable_http_mcp_client()

# Integrate with Bedrock AgentCore
app = BedrockAgentCoreApp()

@app.entrypoint
async def invoke(payload):
    # assume payload input is structured as { "prompt": "<user input>" }

    # Load MCP Tools
    tools = await mcp_client.get_tools()

    # Define the agent
    graph = create_agent(get_authenticated_model(), tools=tools + [add_numbers])

    # Process the user prompt
    prompt = payload.get("prompt", "What is Agentic AI?")

    # Run the agent
    result = await graph.ainvoke({"messages": [HumanMessage(content=prompt)]})

    # Return result
    return {
        "result": result["messages"][-1].content
    }

if __name__ == "__main__":
    app.run()
