import os
from strands import Agent, tool
from strands.models.openai import OpenAIModel
from bedrock_agentcore import BedrockAgentCoreApp
from bedrock_agentcore.identity.auth import requires_api_key
from dotenv import load_dotenv
from mcp_client.client import get_streamable_http_mcp_client

@requires_api_key(provider_name=os.getenv("BEDROCK_AGENTCORE_MODEL_PROVIDER_API_KEY_NAME", ""))
def agentcore_identity_api_key_provider(api_key: str) -> str:
    return api_key

def get_authenticated_model() -> str:
    if os.getenv("LOCAL_DEV") == "1":
        load_dotenv()
        api_key = os.getenv("OPENAI_API_KEY")
    else:
        api_key = agentcore_identity_api_key_provider()

    return OpenAIModel(
        client_args={
            "api_key": api_key
        },
        model_id="gpt-5",
    )

# Define a simple function tool
@tool
def add_numbers(a: int, b: int) -> int:
    """Return the sum of two numbers"""
    return a+b

# Integrate with Bedrock AgentCore
app = BedrockAgentCoreApp()

@app.entrypoint
def invoke(payload):
    """
    Assume payload input is structured as { "prompt": "<user input>" }
    """
    # Create an Agent with MCP tools
    with strands_mcp_client as mcp_client:
        tools = mcp_client.list_tools_sync()

        agent = Agent(model=get_authenticated_model(), tools=tools + [add_numbers])

        # Process the user prompt
        prompt = payload.get("prompt", "What is Agentic AI?")

        # Run the agent
        response = agent(prompt)

        # Return result
        return {
            "response": response
        }

if __name__ == "__main__":
    app.run()
