from strands import Agent, tool
from strands.models.openai import OpenAIModel
from bedrock_agentcore import BedrockAgentCoreApp

def get_api_key() -> str:
    # TODO: Implement Workload Identity Stuff and support for local dev server
    return "API_KEY"

model = OpenAIModel(
    client_args={
        "api_key": get_api_key()
    },
    model_id="gpt-5",
)

# Define a simple function tool
@tool
def add_numbers(a: int, b: int) -> int:
    """Return the sum of two numbers"""
    return a+b

# Integrate with Bedrock AgentCore
app = BedrockAgentCoreApp()

@app.entrypoint
def invoke(payload):
    """
    Assume payload input is structured as { "prompt": "<user input>" }
    """
    # Create an Agent with tools
    agent = Agent(model=model, tools=[add_numbers])

    # Process the user prompt
    prompt = payload.get("prompt", "What is Agentic AI?")

    # Run the agent
    response = agent(prompt)

    # Return result
    return {
        "response": response
    }

if __name__ == "__main__":
    app.run()
